  <!--========== 
        Start of banner section ==========-->

  <section class="banner-personal bg-fit h-100vh" data-jarallax='{"speed": 0.4}' style="background: url({{ site.baseurl | append: '/images/Kendall.jpg' }})"
    >
    <div class="container h-100">
      <!--===== Start of row =====-->
      <div class="row align-items-center h-100">
        <div class="col-lg-6">
          <a class="btn mt-8 me-5" href="pages/upcoming.html" style="color: #f9fafa">
            read upcoming poetry . . . 
          </a>
        </div>
      </div>
      <!--===== End of row =====-->
    </div>
  </section>

  <!--========== 
    End of banner section ==========-->

