  <!--========== 
        Start of Header Section ==========-->

  <header class="header">
    <!--===== Start of navbar =====-->
    <nav class="navbar navbar-light navbar-expand-lg navbar-default">
      <div class="container-fluid">
        <!--===== Start of logo =====-->
        <a class="navbar-brand" href="index.html"><img class="logo" src="{{ site.baseurl }}/images/assets/logo.png" alt="Frith Hilton Logo" /></a>
        <!--===== End of logo =====-->

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

        <!--===== Start of nav =====-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"><span class="text-line"> Home </span></a>
            </li>                       
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar-pages" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="text-line"> Publications</span>
              </a>
              
              <ul class="dropdown-menu" aria-labelledby="navbar-pages">
                  <div class="mb-3 mt-3">
                      <a  href="#">
             Frith Hilton Collections
                        </a>                      
                  </div>                                        

                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections I — III </span></a>
                  <ul class="dropdown-menu">                    
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-I.html"><span class="text-line">
                          Collection I
                        </span></a>                                                
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-II.html"><span class="text-line">
             Collection II
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-III.html"><span class="text-line">
             Collection III
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections IV — VI </span></a>
                  <ul class="dropdown-menu">                    
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-IV.html"><span class="text-line">
                          Collection IV
                        </span></a>                                                
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-V.html"><span class="text-line">
             Collection V
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VI.html"><span class="text-line">
             Collection VI
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections VII — IX </span></a>
                  <ul class="dropdown-menu">                    
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VII.html"><span class="text-line">
                          Collection VII
                        </span></a>                                                
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-VIII.html"><span class="text-line">
             Collection VIII
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-IX.html"><span class="text-line">
             Collection IX
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections X — XII </span></a>
                  <ul class="dropdown-menu">                    
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-X.html"><span class="text-line">
                          Collection X
                        </span></a>                                                
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XI.html"><span class="text-line">
             Collection XI
                        </span></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XII.html"><span class="text-line">
             Collection XII
                        </span></a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> Collections XIII — XIV </span></a>
                  <ul class="dropdown-menu">                    
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIII.html"><span class="text-line">
                          Collection XIII
                        </span></a>                                                
                    </li>
                    <li>
                      <a class="dropdown-item" href="published/poetry/collection-XIV.html"><span class="text-line">
             Collection XIV
                        </span><span class="badge bg-primary" style="font-size: 0.55em">New</span></a>
                    </li>
                  </ul>
                </li>
                  <div class="mb-3 mt-3">
                      <a  href="#">
             Non-Fiction
                        </a>                      
                  </div>
                
                <li>
                  <a class="dropdown-item" href="published/poetry/bury-me-in-1965.html"><span class="text-line">
                      Bury me in 1965
                    </span></a>
                </li>
                                                
                <li>
                  <a class="dropdown-item" href="published/journal/a-life-worth-living.html"><span class="text-line">
                      A Life Worth Living (Vision @ 2020)
                    </span></a>
                </li>
              </ul>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="pages/upcoming.html"><span class="text-line"> Upcoming Poetry</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/musicpool.html"><span class="text-line"> Musicpool </span></a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="cookies.html"><span class="text-line"> Cookies Policy </span></a>
            </li>
          </ul>
        </div>
        <div class="navbar-icons list-unstyled mb-0 ms-auto">
          <a class="icon" href="https://www.facebook.com/frithhilton17" target="_blank">
            <i class="feather icon-facebook"></i>
          </a>
          <a class="icon" href="https://www.instagram.com/frithhilton17" target="_blank">
            <i class="feather icon-instagram"></i>
          </a>
          <a class="icon" href="https://www.twitter.com/frithhilton17" target="_blank">
            <i class="feather icon-twitter"></i>
          </a>
        </div>
        <!--===== End of nav =====-->
      </div>
    </nav>
    <!--===== End of navbar =====-->
  </header>

  <!--========== 
        End of header ==========-->