
<head>
  <!--===== Required meta tags =====-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Infinitysoftway" />
  <meta name="description" content="statistic charts" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===== Title =====-->
  <title>Home I</title>

  <!--===== Favicon =====-->
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/assets/favicon.png" />

  <!--===== Google fonts =====-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />

  <!--===== Global bootstrap required css =====-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />

  <!--===== Global styles including: Font Icons, Plugins, etc =====-->
 <!-- font-awesome-icons -->
 <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>  
  <link rel="stylesheet" type="text/css" href="css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="css/feather/iconfont.css" />
  <link rel="stylesheet" href="css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="css/simple-line-icons/simple-line-icons.css" />
  <link rel="stylesheet" href="css/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="css/swiper/swiper.min.css" />
  <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />
  <!--===== Main theme css =====-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<style>

</style>
</head>

<body class="stokes-wrapper" id="ctrlArea" v-cloak>



  <!--========== 
        Start of loader ==========-->

  <div class="template-loader">
    <div class="loaderCenter">
      <div class="pencil">
          <p>Frith Hilton Library</p>
          <div class="loaderTop"></div>
      </div>
      <div class="stroke">
      </div>
  </div>
  </div>

  <!--========== 
        End of loader ==========-->


  <!--========== 
    Start of  cookie modal notification section ==========-->
  <div class="modal-subscribe">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="myModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-body p-0 bg-secondary rounded">
            <div class="p-5 text-center">
              <img class="img-fluid px-5" src="images/svg/cookie.svg" alt="">
              <h3>Cookies</h3>
              <p class="text-dark"><b>Hilton</b> uses cookies to
                enhance user experience</p>
              <a href="cookies.html" class="text-primary-gradient
                    fw-bold">Our policy</a>
              <div class="d-grid mt-5">
                <button type="button" class="btn btn-white rounded" data-bs-dismiss="modal"
                  @click="store.acceptCookieUse()">Accept</button>
                <p class="text-dark mt-4">Coupled with
                  <svg class="logo" viewBox="0 0 128 128" width="24" height="24" data-v-53ccc107="">
                    <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z"
                      data-v-53ccc107=""></path>
                    <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-53ccc107="">
                    </path>
                  </svg>
                  <a href="https://github.com/vuejs/petite-vue" target="_blank"
                    style="color: #42b883;"><b>petite-vue</b></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--========== 
          End of cookie modal notification section ==========-->
  <!--==========-->

{% include header.html %}


{{ content }}


  <!--========== 
  Start of page header ==========-->

{% include footer.html %}


  <!--========== 
        Start of Javascript ==========-->

  <!--===== Global required js =====-->
  <script src="{{ site.baseurl }}/js/jquery-3.6.0.min.js"></script>
  <script src="{{ site.baseurl }}/js/popper.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

  <!--===== Global script: js libraries and plugins =====-->
  <script src="{{ site.baseurl }}/js/jquery.appear.js"></script>
  <script src="{{ site.baseurl }}/js/swiper.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
  <script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
  <script src="{{ site.baseurl }}/js/typer.js"></script>
  <script src="{{ site.baseurl }}/js/jarallax.min.js"></script>
  <script src="{{ site.baseurl }}/js/grouploop-1.0.0.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.mCustomScrollbar.min.js"></script>
  <!--===== Main theme script =====-->
  <script src="{{ site.baseurl }}/js/functions.js"></script>
  <script type="module">
    import {
      createApp,
      reactive
    } from "https://unpkg.com/petite-vue?module";
    const store = reactive({
      readPoetry() {
        localStorage.setItem("viewii", "currentPoem");
        localStorage.setItem("currentPoemId", 2);
        return (window.location.href = "Pages/upcoming.html");
      },
      acceptCookieUse() {
        localStorage.setItem("cookieUse", true);
      },
    });
    createApp({
      store
    }).mount("#ctrlArea");
  </script>
  <!--========== 
        End of Javascript ==========-->
</body>

</html>
