
<head>
  <!--===== Required meta tags =====-->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Infinitysoftway" />
  <meta name="description" content="statistic charts" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--===== Title =====-->
  <title>Home</title>

  <!--===== Favicon =====-->
  <link rel="shortcut icon" href="images/favicon.png" />

  <!--===== Google fonts =====-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet" />

  <!--===== Global bootstrap required css =====-->
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

  <!--===== Global styles including: Font Icons, Plugins, etc =====-->
 <!-- font-awesome-icons -->
 <script src="https://kit.fontawesome.com/c7fbb1b458.js" crossorigin="anonymous"></script>  
  <link rel="stylesheet" type="text/css" href="css/font-awesome/all.min.css" />
  <link rel="stylesheet" href="css/feather/iconfont.css" />
  <link rel="stylesheet" href="css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="css/simple-line-icons/simple-line-icons.css" />
  <link rel="stylesheet" href="css/themify-icons/themify-icons.css" />
  <link rel="stylesheet" href="css/pe-icon-stroke/Pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="css/swiper/swiper.min.css" />
  <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />
  <!--===== Main theme css =====-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<style>

</style>
</head>

<body class="stokes-wrapper" id="ctrlArea" v-cloak>



  <!--========== 
        Start of loader ==========-->

  <div class="template-loader">
    <div class="loaderCenter">
      <div class="pencil">
          <p>Frith Hilton Library</p>
          <div class="loaderTop"></div>
      </div>
      <div class="stroke">
      </div>
  </div>
  </div>

  <!--========== 
        End of loader ==========-->


  <!--========== 
    Start of  cookie modal notification section ==========-->
  <div class="modal-subscribe">
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" id="myModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-body p-0 bg-secondary rounded">
            <div class="p-5 text-center">
              <img class="img-fluid px-5" src="images/svg/cookie.svg" alt="">
              <h3>Cookies</h3>
              <p class="text-dark"><b>Hilton</b> uses cookies to
                enhance user experience</p>
              <a href="cookies.html" class="text-primary-gradient
                    fw-bold">Our policy</a>
              <div class="d-grid mt-5">
                <button type="button" class="btn btn-white rounded" data-bs-dismiss="modal"
                  @click="store.acceptCookieUse()">Accept</button>
                <p class="text-dark mt-4">Coupled with
                  <svg class="logo" viewBox="0 0 128 128" width="24" height="24" data-v-53ccc107="">
                    <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z"
                      data-v-53ccc107=""></path>
                    <path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-53ccc107="">
                    </path>
                  </svg>
                  <a href="https://github.com/vuejs/petite-vue" target="_blank"
                    style="color: #42b883;"><b>petite-vue</b></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--========== 
          End of cookie modal notification section ==========-->
  <!--==========-->

{% include header.html %}


{{ content }}


  <!--========== 
  Start of page header ==========-->


  <!--========== 
  Start of Review section ==========-->

  <section class="slice-ptb bg-black bg-fit">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 text-center">

          <div class="neon">Celebrity </div>
          <div class="flux">reviews </div>

          <!-- <h3 class="text-white">They all said</h3>
            <p>
             your poetry is
            </p> -->
          <h6 class="text-white">
            <div class="waviy">
              <span style="--i:1">m</span>
              <span style="--i:2">w</span>
              <span style="--i:3">a</span>
              <span style="--i:4">h</span>
              <span style="--i:5">&nbsp;</span>
              <span style="--i:6">💋</span>
             </div>
            <!-- <span class="display-3">awesome</span> -->
          </h6>
        </div>
        <div class="col-lg-8">
          <div class="promo-carousel" id="grouploop-1">
            <div class="item-wrap">
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="{{ site.baseurl }}/images/reviews/LewisHamilton.jpg" alt="Lewis Hamilton">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Lewis Hamilton</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/IdrisElba.jpg" alt="Idris Elba">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Idris Elba</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Fedez.jpg" alt="Fedez">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Fedez</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/LeBronJames.jpg" alt="LeBron James">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">LeBron James</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/MarcJacobs.jpg" alt="Marc Jacobs">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Marc Jacobs</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/MarsaiMartin.jpg" alt="Marsai Martin">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Marsai Martin</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/DonatellaVersace.jpg" alt="Donatella Versace">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Donatella Versace</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/DavidDobrik.jpg" alt="David Dobrik">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">David Dobrik</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/AlanWalker.jpg" alt="Alan Walker">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Alan Walker</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/PostMalone.jpg" alt="Post Malone">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Post Malone</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/6lack.jpg" alt="6lack">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">6lack</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="promo-carousel" id="grouploop-2">
            <div class="item-wrap">
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Diplo.jpg" alt="Diplo">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Diplo</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Shakira.jpg" alt="Shakira">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Shakira</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/TheChainsmokers.jpg" alt="The Chainsmokers">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">The Chainsmokers</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/TravisScott.jpg" alt="Travis Scott">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Travis Scott</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/DuaLipa.jpg" alt="Dua Lipa">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Dua Lipa</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/SofiaWylie.jpg" alt="Sofia Wylie">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Sofia Wylie</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/LiliReinhart.jpg" alt="Lili Reinhart">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Lili Reinhart</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/KendallJenner.jpg" alt="Kendall Jenner">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Kendall Jenner</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/JustinTimberlake.jpg" alt="Justin Timberlake">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Justin Timberlake</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/JoeBiden.jpg" alt="Joe Biden">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Joe Biden</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Khalid.jpg" alt="Khalid">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Khalid</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="promo-carousel" id="grouploop-3">
            <div class="item-wrap">
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/TheWeeknd.jpg" alt="The Weeknd">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">The Weeknd</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/TaylorSwift.jpg" alt="Taylor Swift">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Taylor Swift</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Drake.jpg" alt="Drake">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Drake</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/CalvinHarris.jpg" alt="Calvin Harris">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Calvin Harris</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/CharlyCox.jpg" alt="Charly Cox">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Charly Cox</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/CaitlynJenner.jpg" alt="Caitlyn Jenner">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Caitlyn Jenner</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Dagny.jpg" alt="Dagny">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Dagny</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/LilUziVert.jpg" alt="Lil Uzi Vert">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Lil Uzi Vert</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/KamalaHarris.jpg" alt="Kamala Harris">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Kamala Harris</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/AliciaKeys.jpg" alt="Alicia Keys">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Alicia Keys</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/LaLisa.jpg" alt="La Lisa">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">La Lisa</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="promo-carousel" id="grouploop-4">
            <div class="item-wrap">
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/CamilaCabello.jpg" alt="Camila Cabello">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Camila Cabello</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Melanie_Fontana_2017.jpg" alt="Melanie Fontana">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Melanie Fontana</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/HarryStyles.jpg" alt="Harry Styles">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Harry Styles</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/KylieJenner.jpg" alt="Kylie Jenner">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Kylie Jenner</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Pink.jpg" alt="Pink">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Pink</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/AmandaSeyfried.jpg" alt="Amanda Seyfried">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Amanda Seyfried</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Oprah.jpg" alt="Oprah">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Oprah </h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/WesMoore.jpg" alt="Wes Moore">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Wes Moore</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/EllieGoulding.jpg" alt="Ellie Goulding">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Ellie Goulding</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/ChloeBailey.jpg" alt="Chloe Bailey">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Chloe Bailey</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/BigSean.jpg" alt="Big Sean">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Big Sean</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="promo-carousel" id="grouploop-5">
            <div class="item-wrap">
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/ZaraLarsson.jpg" alt="Zara Larsson">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Zara Larsson</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/CristianoRonaldo.jpg" alt="Cristiano Ronaldo">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Cristiano Ronaldo</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/AddisonRae.jpg" alt="Addison Rae">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Addison Rae</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Logic.jpg" alt="Logic">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Logic</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/JakePaul.jpg" alt="Jake Paul">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Jake Paul</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/JenniferLopez.jpg" alt="Jennifer Lopez">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Jennifer Lopez</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/BadBunny.jpg" alt="Bad Bunny">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Bad Bunny</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/MaeMuller.jpg" alt="Mae Muller>
                    </div>
                    <div class=" portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Mae Muller</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/DojaCat.jpg" alt="Doja Cat">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Doja Cat</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Ciara.jpg" alt="Ciara">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Ciara</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/ParisHilton.jpg" alt="Paris Hilton">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Paris Hilton</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="promo-carousel" id="grouploop-6">
            <div class="item-wrap">
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Mariam.jpg" alt="Mariam">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Mariam Rod</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/JesseElder.jpg" alt="Jesse Elder">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Jesse Elder</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Owlcity.jpg" alt="Owl City>
                    </div>
                    <div class=" portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Owl City</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/NickiMinaj.jpg" alt="Nicki Minaj">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Nicki Minaj</h5>
                  </div>
                </div>
              </div>

              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/Neymar.jpg" alt="Neymar">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Neymar</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/50Cent.jpg" alt="50 Cent">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">50 Cent</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/BrianRose.jpg" alt="Brian Rose">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Brian Rose</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/GrantCardone.jpg" alt="Grant Cardone">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Grant Cardone</h5>
                  </div>
                </div>
              </div>
              <div class="mb-4 item">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/MarkZuckerberg.jpg" alt="Mark Zuckerberg">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Mark Zuckerberg</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/TomCruise.jpg" alt="Tom Cruise">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Tom Cruise</h5>
                  </div>
                </div>
              </div>
              <div class="item mb-4">
                <div class="portfolio-item-stack portfolio-item-stack-light">
                  <div class="portfolio-image">
                    <img class="img-fluid rounded" src="images/reviews/RickRoss.jpg" alt="Rick Ross">
                  </div>
                  <div class="portfolio-caption portfolio-caption-bottom">
                    <h5 class="text-white mt-2">Rick Ross</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--========== 
    End of Review section ==========-->

{% include footer.html %}


  <!--========== 
        Start of Javascript ==========-->

  <!--===== Global required js =====-->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>

  <!--===== Global script: js libraries and plugins =====-->
  <script src="js/appear/jquery.appear.js"></script>
  <script src="js/swiper/swiper.min.js"></script>
  <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="js/isotope/isotope.pkgd.min.js"></script>
  <script src="js/typer/typer.js"></script>
  <script src="js/jarallax/jarallax.min.js"></script>
  <script src="js/marquee-scroller/grouploop-1.0.0.min.js"></script>
  <script src="js/mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
  <!--===== Main theme script =====-->
  <script src="{{ site.baseurl }}/js/functions.js"></script>
  <script type="module">
    import {
      createApp,
      reactive
    } from "https://unpkg.com/petite-vue?module";
    const store = reactive({
      readPoetry() {
        localStorage.setItem("viewii", "currentPoem");
        localStorage.setItem("currentPoemId", 2);
        return (window.location.href = "Pages/upcoming.html");
      },
      acceptCookieUse() {
        localStorage.setItem("cookieUse", true);
      },
    });
    createApp({
      store
    }).mount("#ctrlArea");
  </script>
  <!--========== 
        End of Javascript ==========-->
</body>

</html>
